.container{
    position: sticky;
    top: 0px;
    display: flex;
    background-color: lightseagreen;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}
.title{
    margin-right: 10%;
    padding: 1%;
}
.title:hover{
    color:darkslategrey;
}
.Na{
    
    padding: 1%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Na a{
    text-decoration: none;
    color: whitesmoke;
}
.Na a:hover{
    color: darkslategrey;
}
.Na a:focus{
    border-bottom: 3px solid darkslategrey;
}